.idea
tests
scratch
*.qcow2
*.vmdk
*.vdi
.DS_Store

bin/
dist/
images
/d2vm
/examples/build
/examples/full/demo-magic
/examples/full/inside
.goreleaser.yaml
docs/build
docs-src
/completions
/cmd/d2vm/run/sparsecat-linux-*
